.result-wrapper {
    text-align: center;
}

#result1,
#result4 {
    background-color: #d3d3d3;
    border-radius: 5px;
    max-width: 500px;
    min-height: 20px;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
    color: #000;
    border: 2px solid #fff;
    resize: none;
    padding: 12px;
    margin: auto;
    display: block;
}